<h2>Create a new restaurant</h2>

<%= render 'form' %>

<!--
<form action="/restaurants" method="post">
  <%= hidden_field_tag :authenticity_token, :form_authenticity_token %>

  <div>
    <label>Name:</label>
    <input type="text" name="restaurant[name]" />
  </div>

  <div>
    <label>Address:</label>
    <input type="text" name="restaurant[address]" />
  </div>

  <div>
    <label>Rating:</label>
    <input type="number" name="restaurant[rating]" />
  </div>

  <div>
    <input type="submit" />
  </div>
</form>
-->
